<div class="accordion-collapse">
  @for (item of items(); let first = $first; let last = $last; track item.id) {
    <h2 class="accordion-heading">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-text-secondary border border-b-0 border-border rounded-t-xl focus:ring-4 focus:ring-bg-surface border-border text-text-secondary hover:bg-bg-surface gap-3 transition-colors disabled:opacity-50 disabled:cursor-not-allowed"
        [class.!rounded-none]="!first"
        [class.!border-b]="last"
        [attr.aria-expanded]="isExpanded(item.id)"
        (click)="toggleItem(item.id)"
        (keydown)="onKeyDown($event, item.id)"
        [disabled]="item.disabled">
        <span>{{ item.title }}</span>
        <svg
          class="w-3 h-3 rotate-180 shrink-0 transition-transform"
          [class.!rotate-0]="isExpanded(item.id)"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div
      class="accordion-body"
      [class.hidden]="!isExpanded(item.id)">
      <div class="p-5 border border-b-0 border-border text-text-secondary"
           [class.!border-b]="last">
        {{ item.content }}
      </div>
    </div>
  }
</div>
